@model ParkVM
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<p>@Model.Park.ParkName</p>
<div class="park_image">
    <img src="~/images/@(Model.Park.ParkCode).jpg" />
</div>
<p>@Model.Park.State</p>
<p>@Model.Park.Acreage</p>
<p>@Model.Park.Elevation</p>
<p>@Model.Park.ElevationFeet</p>
<p>@Model.Park.MilesOfTrail</p>
<p>@Model.Park.NumberOfCampsites</p>
<p>@Model.Park.Climate</p>
<p>@Model.Park.YearFounded</p>
<p>@Model.Park.AnnualVisitorCount</p>
<p>@Model.Park.InspirationalQuote</p>
<p>@Model.Park.InspirationalQuoteSource</p>
<p>@Model.Park.ParkDescription</p>
<p>@Model.Park.EntryFee</p>
<p>@Model.Park.NumberOfAnimalSpecies</p>

<div id="forecast">
    <p>Today:</p>
    <img src="~/images/@(Model.Weather.ElementAt(0).Forecast).png" />
    <p> High: @Model.Weather.ElementAt(0).High</p>
    <p> Low: @Model.Weather.ElementAt(0).Low</p>
    @if (Model.Weather.ElementAt(0).Forecast == "snow")
    {
        <p>Expecting snow! Be sure to bring snow shoes!</p>
    }
    @if (Model.Weather.ElementAt(0).Forecast == "rain")
    {
        <p>Rain's a'comin'! Best pack that rain gear and waterproof shoes!</p>
    }
    @if (Model.Weather.ElementAt(0).Forecast == "thunderstorms")
    {
        <p>God's angry, hurling bolts of electricity. Seek shelter and avoid hiking on exposed ridges.</p>
    }
    @if (Model.Weather.ElementAt(0).Forecast == "sunny")
    {
        <p>Skin cancer kills! Remember your hat and sunscreen!</p>
    }
    @if (Model.Weather.ElementAt(0).High > 75)
    {
        <p>It's a hot one! Be sure to bring an extra gallon of water.</p>
    }
    @if (((Model.Weather.ElementAt(0).High) - (Model.Weather.ElementAt(0).Low)) > 20)
    {
        <p>It's madness out there! Dress in breathable layers... or you'll regret it.</p>
    }
    @if (Model.Weather.ElementAt(0).Low < 20)
    {
        <p>Oh boy! It's chilly out there. Frigid temperatures can kill you and your family. Best to forget the park and watch a movie or something.</p>
    }
</div>
@*@for(int i = 1; i < 5; i++)
{
<div class="weather_image">
    <img src="~/images/@(Model.Weather.ElementAt(i).Forecast).png" />
</div>
    <p>@Model.Weather.ElementAt(i).High</p>
    <p>@Model.Weather.ElementAt(i).Low</p>
    <p>@Model.Weather.ElementAt(i).Forecast</p>
}*@