@model ParkVM
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<p>@Model.Park.ParkName</p>
<div id="parkPicDiv">
    <img class="parkPic" src="~/images/@(Model.Park.ParkCode).jpg" />
</div>
<div id="blurbDiv">
    Located in <span>@Model.Park.State</span>, this is a wonderful park, covering
    <span>@Model.Park.Acreage</span> majestic acres. It stands at an elevation of
    <span>@Model.Park.Elevation</span>, or
    <span>@Model.Park.ElevationFeet</span> feet relative to sea level. This park contains
    <span>@Model.Park.MilesOfTrail</span> glorious miles of trail. Campers can set up their tents in one of the
    <span>@Model.Park.NumberOfCampsites</span> splendid campsites available here. Expect to enjoy a
    <span>@Model.Park.Climate</span> climate while visiting this park. History buffs will be pleased to know it was founded in
    <span>@Model.Park.YearFounded</span>, a fine year. Perhaps that's why approximately
    <span>@Model.Park.AnnualVisitorCount</span> visitors grace this park with their presence yearly. You know what they say,
    <span><em>"@Model.Park.InspirationalQuote"</em></span>... and by "they" we mean the one and only
    <span>@Model.Park.InspirationalQuoteSource</span>! Still not convinced as to why you should make this park your next vacation destination? Well...
    <span><strong>@Model.Park.ParkDescription</strong></span> Expect to pay
    <span>$@Model.Park.EntryFee</span> to enter. And be mindful of the
    <span>@Model.Park.NumberOfAnimalSpecies</span> animal species that call this place home!
</div>
<div id="buttonsDiv">
    <form asp-route-parkcode="@Model.Park.ParkCode" asp-route-unitpref="F" id="buttonFForm">
        <input type="submit" value="Fahrenheit" class="tempTypeButton" id="buttonF"/>
    </form>
    <form asp-route-parkcode="@Model.Park.ParkCode" asp-route-unitpref="C" id="buttonCForm">
        <input type="submit" value="Celcius"  class="tempTypeButton" id="buttonC"/>
    </form>
</div>
<div id="forecast">
    <div id="today_image">
        <p id="today_message">Today</p>
        <img src="~/images/@(Model.Weather.ElementAt(0).Forecast).png" />
    </div>
    <div id="today_temp">
        <p id="today_high"> High: @((int)Model.Weather.ElementAt(0).GetHigh(Model.UnitPref)) @Model.UnitPref</p>
        <p id="today_low"> Low: @((int)Model.Weather.ElementAt(0).GetLow(Model.UnitPref)) @Model.UnitPref</p>
    </div>
    <div id="today_forecast">
        <p>@Model.Weather.ElementAt(0).Forecast</p>

        @if (Model.Weather.ElementAt(0).Forecast == "snow")
        {
            <p>WEATHER ALERT: Expecting snow! Be sure to bring snow shoes!</p>
        }
        @if (Model.Weather.ElementAt(0).Forecast == "rain")
        {
            <p>WEATHER ALERT: Rain's a'comin'! Best pack that rain gear and waterproof shoes!</p>
        }
        @if (Model.Weather.ElementAt(0).Forecast == "thunderstorms")
        {
            <p>WEATHER ALERT: God's angry, hurling bolts of electricity. Seek shelter and avoid hiking on exposed ridges.</p>
        }
        @if (Model.Weather.ElementAt(0).Forecast == "sunny")
        {
            <p>WEATHER ALERT: Skin cancer kills! Remember your hat and sunscreen!</p>
        }
        @if (Model.Weather.ElementAt(0).High > 75)
        {
            <p>WEATHER ALERT: It's a hot one! Be sure to bring an extra gallon of water.</p>
        }
        @if (((Model.Weather.ElementAt(0).High) - (Model.Weather.ElementAt(0).Low)) > 20)
        {
            <p>WEATHER ALERT: It's madness out there! Dress in breathable layers... or you'll regret it.</p>
        }
        @if (Model.Weather.ElementAt(0).Low < 20)
        {
            <p>WEATHER ALERT: It's chilly out there. Frigid temperatures can kill you and your family. Best to forget the park and watch a movie or something.</p>
        }

    </div>

        @for (int i = 1; i < 5; i++)
         {
                <div id="weather_card@(i)">
                    <p id="day_message">Day @(i)</p>
                <div id="weather_image">
                    <img src="~/images/@(Model.Weather.ElementAt(i).Forecast).png" />
                </div>
                <p id="high">High: @((int)Model.Weather.ElementAt(i).GetHigh(Model.UnitPref)) @Model.UnitPref</p>
                <p id="low">Low: @((int)Model.Weather.ElementAt(i).GetLow(Model.UnitPref)) @Model.UnitPref</p>
                </div>
         }
</div>
